# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtual Environment
venv/
env/
.env/
.venv/

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml
.docker/

# Development/IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Miscellaneous
node_modules/
coverage/
*.coverage
.DS_Store
