# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
static/
media/
staticfiles/
*.env
.env
.mypy_cache

# Virtual Environment
venv/
envs/.env.local
envs/.env.prod
envs/.env.staging
envs/.env.dev

# Environment files
envs/.env.*
!envs/.env.template

# VS Code
.vscode/

# IDEs
.idea/

# MacOS
.DS_Store

# Docker
*.log
*.pid

# Miscellaneous
node_modules/
coverage/
*.coverage
*.egg-info/
